<?xml version="1.0"?>
<config>
    <modules>
        <Maxpay_Maxpay>
            <version>0.0.1</version>
        </Maxpay_Maxpay>
    </modules>
    <frontend>
        <routers>
            <maxpay>
                <use>standard</use>
                <args>
                    <module>Maxpay_Maxpay</module>
                    <frontName>maxpay</frontName>
                </args>
            </maxpay>
        </routers>
        <layout>
            <updates>
                <maxpay>
                    <file>maxpay.xml</file>
                </maxpay>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <maxpay>
                <class>Maxpay_Maxpay_Model</class>
            </maxpay>
        </models>
        <blocks>
            <maxpay>
                <class>Maxpay_Maxpay_Block</class>
            </maxpay>
        </blocks>
        <helpers>
            <maxpay>
                <class>Maxpay_Maxpay_Helper</class>
            </maxpay>
        </helpers>
		<events>
			<resource_get_tablename>
				<observers>
					<maxpay_maxpay_model_observer>
						<class>Maxpay_Maxpay_Model_Observer</class>
						<method>addAutoloader</method>
					</maxpay_maxpay_model_observer>
				</observers>
			</resource_get_tablename>
		</events>
	</global>
    <default>
        <payment>
            <maxpay_iframe>
                <title>Maxpay</title>
                <active>1</active>
                <model>maxpay/method_iframe</model>
                <order_status>pending_payment</order_status>
                <debug_mode>0</debug_mode>
                <maxpay_iframe_width>auto</maxpay_iframe_width>
                <maxpay_iframe_height>auto</maxpay_iframe_height>
            </maxpay_iframe>
        </payment>
    </default>
</config>